* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Products {
  font-family: Arial, sans-serif;
  background-color: #cbf1ff;
  padding: 10px;
  border-radius: 5px;
}

.productItem {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #020202;

  border-radius: 5px;
}
.prod {
  float: left;
  width: 100%;
}
.prod h1 {
  text-align: center;
  background-color: #d6d6d6;
  font-family: system-ui;
  font-size: 50px;
  padding: 12px;
}

.productImage {
  width: 300px;
  height: 200px;
  object-fit: contain;
  aspect-ratio: 1/1;
  align-items: center;
}

.cards-head {
  float: left;
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  flex-wrap: wrap;
  gap: 50px;
}

.allcontent {
  float: left;
  margin-top: 25px;
  padding: 56px;
  border: 1px solid rgb(5, 5, 5);
  border-radius: 13px;
}
/* button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #090808;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}
/* img:hover{
  width: 310px;
  height: 210px;

} */
.log{
  width: 250px;
height: 39px;
flex-shrink: 0;
background-color: #01571A;
color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

button:hover::before {
  width: 100%; 
}
.allcontent img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
  cursor: pointer;
}
.btne {
  margin-left: 62px;
  margin-top: 10px;
}
h3 {
  margin-left: 73px;
  margin-top: 15px;
}

.con-like {
  --red: rgb(250, 50, 80);
  position: relative;
  width: 50px;
  height: 50px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}
.col-md-6 signup_page_hw {
  border: 2px solid #020202;
}
.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.8s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.6s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block;
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block;
}

.signin-btn {
  list-style-type: none;
}

.signin-btn li {
  padding: 5px;
  list-style-type: none;
}
.main_div {
  border: 2px solid #221e1f;
  padding: 26px;
  box-shadow: 17px 5px 13px #196719;
  background-color: #1c572f;
  color: white;
  border-radius: 8px;
}
.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: rgb(255 255 255 / 75%);
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe1fc;
  flex-wrap: wrap;
  margin-top: 20px;
}
.Userlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.UserBox {
  width: 500px;
  border: 1px solid black;
  padding: 22px;
  margin: 25px;
  text-align: center;
}
.UserBox img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}
/* Login page */
.Loginpage {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 900px;
  height: 565.715px;
  background-color: #0e0e0e;
  box-shadow: -1px -2px 25px 0px #01571a;
  display: flex;
  justify-content: center;
  color: #cbf1ff;
}
.left-section {
  width: 50%;
}

.left-section img {
  width: 183px;
  height: 132px;
  margin-top: 178px;
  margin-left: 147px;
}
.left-des {
  margin-top: 16px;
  margin-left: 88px;
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.left-des h4 {
  font-size: 19px;
  margin-left: 46px;
}
.left-des h2 {
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.right-section h3 {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.right-section {
  width: 50%;

}

  .right-section h3 {
    margin-top: 51px;
    margin-bottom: 55px;
}

.right-section input{
  border: none;
  background: transparent !important;
  color: white;

}
.divoisionkabaap {
  margin-left: 55px;
}

.divisonof {
  border-bottom: 1px solid white;
  width: 280px;
  padding: 5px;
  margin: 5px;
}


.log{
  margin-left: 18px;
}
.Newtopaypal {
  display: flex;
  margin-left: 57px;
  margin-top: 10px;
}
.eye-image{
  /* margin-right: -10px; */
  float: right;
}
/* Login page css ends here */
@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}
